body {
    font-family: 'EB Garamond', serif;
    background-color: #e6c5ff;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    width: 400px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form {
    padding: 20px;
    align-items: center;
}

#entradas {
    align-items: center;
}

#botoes {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

#botoes input {
    max-width: 50%;
    flex: 1;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#botoes input:hover {
    background-color: #e6c5ff;
    font-size: 1.5rem;
}

label {
    font-size: x-large;
    color: black;
}

input [type="number"] {
    width: 10px;
    border-bottom: 1px;
    box-sizing: content-box;
}

h3 {
    margin: 10px;
    text-align: center;
}